@* LoaderComponent.razor: Reusable loader overlay with Nana logo. Styles and JS must be placed in _Layout.cshtml or a global location. *@
<div id="loaderOverlay" class="loader-overlay" style="display:none;">
    <img src="/images/logo.png" alt="Loading..." class="loader-logo" />
</div>
