@* LoaderComponent.cshtml: Reusable loader overlay with Nana logo. *@
<div id="loaderOverlay" class="loader-overlay" style="display:none;">
    <img src="/images/logo.png" alt="Loading..." class="loader-logo" />
</div>
